@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    padding: 0;
    background-image: asset_url("cover.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-color: $background;
    color: $primary;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

section {
    display: block;
}

.wrapper {
  display: flex;
  vertical-align: bottom;
  width: 100%;
  min-height: 100vh;
}

.content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 20px auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
