<!DOCTYPE html>
<html>
  <head>
    {% include analytics.html %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.full_name }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="icon" type="image/png" sizes="32x32" href="{% asset favicon-32x32.png @path %}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{% asset favicon-16x16.png @path %}"/>

    {% asset style.css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  </head>
  <body>
    <div id="particles" class="wrapper">
      {{ content }}
    </div>
    <div id="sound-bars"></div>

    <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    {% asset main.js %}
  </body>
</html>
